<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/menu_new" %>
  </div>
  <div class="main">
    <div class="main-header">
    </div>
    <div class="messages-nonebox">
      <%= render "student_login" %>
    </div>
  </div>
</div>