.form-title {
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #00005F;
  padding: 20px 0;
  text-decoration: none;
}
.form-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-box {
  width: 600px;
  border-radius: 10px;
  padding: 30px;
  background-color: #ebebeb;
}
.form-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.label{
  font-size: 20px;
  color: #00005F;
  float: left;
  margin-right: 20px;
  padding-top: 15px;
  width: 135px;
  height: 50px;
}
.inputs {
  float: left;
  width: 300px;
  height: 50px;
  border: solid 1px #aaa;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}
.create-box {
  width: 100px;
  height: 50px;
  background: #e0505c;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  margin: 70px 5px 0px 0px;
}
.back-box {
  width: 100px;
  height: 50px;
  background: #aaa;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  padding: 16.5px 20px;
  margin: 70px 0px 0px 5px;
  text-decoration: none;
}