.gnav {
  display: flex;
  margin: 0 3rem;
  width: 12.5rem;
}
.gnav li {
  list-style: none;
}
.gnav li a {
  background: #ffa425;
  font-size: 1.25rem;
  color: #fff;
  display: block;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  text-decoration: none;
  width: 12.5rem;
}
.gnav li li {
  height: 0;
  overflow: hidden;
  transition: .5s;
}
.gnav li:hover > ul > li {
  height: 3.75rem;
  overflow: visible;
}