.side-bar {
  width: 350px;
  height: 100vh;
  position: relative;
}
.room-main {
  width: (100vw - 350px);
  height: 100vh;
  display: flex;
  position: relative;
}
.side-bar-header {
  width: 350px;
  height: 130px;
  padding: 10px 0;
  background-color: #ffd725;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 500;
}
.side-bar-main {
  width: 350px;
  height: calc(100vh - 130px);
  padding: 50px;
  background-color: #ffa425;
  position: fixed;
  top: 130px;
  overflow: scroll;
  z-index: 300;
}
.room-main-header {
  width: calc(100vw - 350px);
  height: 130px;
  background-color: #b0d725;
  position: fixed;
  left: 350px;
  z-index:300;
}
.room-main-margin {
  width: calc(100vw - 350px);
  height: 10px;
  background-color: #ffffff;
  position: fixed;
  z-index:300;
  top: 130px;
  left: 350px;
}
.room-main-chat {
  flex: 1;
  height: 100vh;
  margin: 30px;
  justify-content: center;
  position: absolute;
  top: 130px;
  left: 350px;
  overflow: scroll;
  z-index:0;
}
