h1 {
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding-bottom: 50px;
  text-decoration: none;
}
h2 {
  margin-bottom: 20px;
  color:#00005F;
  font-size: 20px;
  text-decoration: none;
}
.text {
  font-size: 20px;
  color: #00005F;
  line-height: 30px;
  text-decoration: none;
  }
  .text-center {
    font-size: 20px;
    color: #00005F;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    }
